html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root{
    background-image: image-set(url("night.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 8em;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0 5px 10px rgb(78, 1, 103);
    mix-blend-mode: overlay;
}